h2 {
    color: rgb(14, 13, 13);
    border-style: solid, grey;
}



li {
    color: rgb(223, 221, 221);
    border-style: solid;
    border-radius: 15px;
    background: rgb(250, 249, 249);
    padding: 16px;
    margin: 1rem;

}

div {
    color: blueviolet;
}

ul {
    margin-right: 6rem;
    margin-left: 4rem;
    list-style-type: none;
}

#card-btn {
    text-align: center;
}