h1 {
    color: black;
    border-style: solid, grey;
}



li {
    color: rgb(186, 161, 209);
    border-style: solid;
    margin: 1rem;
    padding: 1rem;
}

.form-header div {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $card-bg;
    background-clip: border-box;
    border: $card-border-width solid $card-border-color;


}

button.btn-close {
    color: red;
}

#task1 .btn-close {
    color: red;
}